In [ ]:
https://api.themoviedb.org/3/genre/movie/list?api_key=<<api_key>>&language=en-US

In [18]:
import pandas as pd
import json

In [2]:
import requests

In [55]:
url = 'https://api.themoviedb.org/3/genre/movie/list?api_key=MY-KEY&language=en-US'

In [56]:
response = requests.get(url)

In [59]:
data = response.json()

In [67]:
pd.DataFrame.from_dict(data)

                                    genres
0             {'id': 28, 'name': 'Action'}
1          {'id': 12, 'name': 'Adventure'}
2          {'id': 16, 'name': 'Animation'}
3             {'id': 35, 'name': 'Comedy'}
4              {'id': 80, 'name': 'Crime'}
5        {'id': 99, 'name': 'Documentary'}
6              {'id': 18, 'name': 'Drama'}
7          {'id': 10751, 'name': 'Family'}
8            {'id': 14, 'name': 'Fantasy'}
9            {'id': 36, 'name': 'History'}
10            {'id': 27, 'name': 'Horror'}
11          {'id': 10402, 'name': 'Music'}
12         {'id': 9648, 'name': 'Mystery'}
13        {'id': 10749, 'name': 'Romance'}
14  {'id': 878, 'name': 'Science Fiction'}
15       {'id': 10770, 'name': 'TV Movie'}
16          {'id': 53, 'name': 'Thriller'}
17            {'id': 10752, 'name': 'War'}
18           {'id': 37, 'name': 'Western'}